# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages that Data Scientists
* List commonly used libraries used by Data Scientists
* List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numby
2. ggplot2
3. Pandas

| Data Science Tools |
| -------------|
| Jupyter Notebooks | 
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [51]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [41]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## Author
Luigi Valle